body {
    margin: 0;
}
nav {
    border-bottom: 1px solid rgb(255, 0, 0);
    padding: 16px;
    background-color: rgb(255, 81, 0);
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 16px;
}
div a {
    color: rgb(72, 180, 9);
    text-decoration: none;
}
div a:hover {
    text-decoration: underline;
}
footer{
    padding: 24px;
    margin: 20px 0;
    background-color: rgb(133, 204, 100);
}


.fit-picture {
    height: 200px;
}

.dark-green-text {
    color: darkgreen;
}
.has-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
}

table>tbody>tr:nth-child(even) {
    background-color: lightgray;
}
